<div class="container about-wrap">
    <div class="about-margin">
        <h2>About Hodl Or Not</h2>
        <p>This website was built for no reason at all, but be assured that it was done so using state-of-the-art technology (HTML + CSS). 
        The algorithm behind <i>Hodl or Not</i> is so remarkably complex that it is considered a terrible secret that could destroy
        the entire world if it fell into the wrong hands. For this reason, the specification is locked away in a safe where nobody will ever find it.</p>
        <p class="hidden">Actually, it's just some playing with percentages, but don't tell anyone.</p>
        <p>Also, if this site makes you angry for some reason, feel free to curse a bit and remember, don't take it too seriously.</p>
    </div>
    <div class="about-margin">
        <h2>About the Author</h2>
        <p>There is no author whatsoever. This website somehow created itself. Maybe it's a self-aware website. You never know.</p>
        <p>If you have any questions, ideas for collaboration, project offers and whatnot, feel free to send a message here: <a href="mailto:{{email}}">{{email}}</a></p>
    </div>
</div>