<div class="text-center main-wrapper">
    <div class="main"><input class="form-control input-narrow" type="text" [ngModel]='cryptocurrency' (ngModelChange)='cryptoChanged($event)' /></div>
    <h3 class="main message">{{msg}}</h3>
    <div class="gap"></div>
    <div class="main">Be aware that this website is not liable for any losses resulting from its improper usage. However, if you make a profit thanks to this website's infallible conclusions, you are obliged to send over half of it... just kidding.
        <br><br>Also, please don't take this website too seriously :-)
    </div>
</div>