<div class="container wrap">
    <p class="warning">Warning. This is probably the only serious page on this web.</p>
    <div>
        <h2>How does this thing work?</h2>
        If you're really curious about the algorithm behind this web so that you can create your own copy of it on a different web, here's the gist of it:
          <ul>
            <li>This app pulls data from CryptoMarketCap API. Then it checks recent price changes.</li>
            <li>If the price has been declining, then you get a random message telling you to sell.</li>
            <li>If the price is relatively okay or climbing slightly, you get a message to hodl.</li>
            <li>If the price is climbing fast, you get a message to hodl like hell.</li>
          </ul>
        And that's it. It's not rocket science and as it has been mentioned and hinted at, this app doesn't aspire to be
        the most comprehensive cryptocurrency-analysis tool. Sorry if you expected otherwise.
    </div>
</div>